# Data Analysis #

## Env Setup ##

In [1]:
# lib imports
import pandas as pd
import numpy as np
from utils import SQL2DF

## Data Import ##

In [5]:
# import data
df = SQL2DF('fi_db', 'sp500', True)
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24468 entries, 0 to 24467
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         24468 non-null  datetime64[ns]
 1   close_gspc   24468 non-null  float64
 2   high_gspc    24468 non-null  float64
 3   low_gspc     24468 non-null  float64
 4   open_gspc    24468 non-null  float64
 5   volume_gspc  24468 non-null  float64
 6   cpi          24468 non-null  float64
 7   unrate       24468 non-null  float64
 8   csi          24468 non-null  float64
 9   dff          24468 non-null  float64
 10  30y_mort     24468 non-null  float64
dtypes: datetime64[ns](1), float64(10)
memory usage: 2.1 MB
None
        date  close_gspc  high_gspc  low_gspc  open_gspc  volume_gspc   cpi  \
0 1927-12-30       17.66      17.66     17.66      17.66          0.0  17.1
1 1928-01-03       17.76      17.76     17.76      17.76          0.0  17.1
2 1928-01-04       17.72      17.72     17.72      17.72          0.0  17.1
3 1928-01-05       17.55      17.55     17.55      17.55          0.0  17.1
4 1928-01-06       17.66      17.66     17.66      17.66          0.0  17.1

   unrate   csi   dff  30y_mort
0     4.0  82.0  1.13      7.33
1     4.0  82.0  1.13      7.33
2     4.0  82.0  1.13      7.33
3     4.0  82.0  1.13      7.33
4     4.0  82.0  1.13      7.33

## Data Transform ##

In [6]:
df.head()

,date,close_gspc,high_gspc,low_gspc,open_gspc,volume_gspc,cpi,unrate,csi,dff,30y_mort
0,1927-12-30,17.66,17.66,17.66,17.66,0.0,17.1,4.0,82.0,1.13,7.33
1,1928-01-03,17.76,17.76,17.76,17.76,0.0,17.1,4.0,82.0,1.13,7.33
2,1928-01-04,17.72,17.72,17.72,17.72,0.0,17.1,4.0,82.0,1.13,7.33
3,1928-01-05,17.55,17.55,17.55,17.55,0.0,17.1,4.0,82.0,1.13,7.33
4,1928-01-06,17.66,17.66,17.66,17.66,0.0,17.1,4.0,82.0,1.13,7.33